<web-app version="2.4" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xsi:schemalocation="http:/java.sun.com/dtd/web-app_2_3.dtd">

  <servlet>
    <servlet-name>FYP_UI_Main</servlet-name>
    <servlet-class>FYP_UI.Main</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FYP_UI_Main</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FYP_UI_HtmlCode</servlet-name>
    <servlet-class>FYP_UI.HtmlCode</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FYP_UI_HtmlCode</servlet-name>
    <url-pattern>/htmlcode.jsp</url-pattern>
  </servlet-mapping>


</web-app>
